.head {
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 4px 3px black;
    color :white;
    display: contents;
    position: fixed;
}
.head h2 {
    font-size: 15px;
}
a, button,input[type=submit],input[type=reset] {
    font-family: sans-serif;
    font-size: 15px;
    background: darkcyan;
    color: aquamarine;
    border: white 3px solid;
    border-radius: 15px;
    padding: 12px 20px;
    margin-top: 10px;
}
a {
    text-decoration: none;
}
a:hover, button:hover, input[type=submit]:hover, input[type=reset]:hover{
    opacity:0.5;
}
.right {
    display: block;
    position: fixed;
    top: 470px;
    left: 1000px;
}
.center {
    display: block;
    position: fixed;
    top: 470px;
    left: 650px; 
}
    .left {
    display: block;
    position: fixed;
    top: 470px;
    left: 250px;
}
.box {
    position: fixed;
    top: 450px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: white;
    background-size: auto;
}
.box h1 {
    text-align: center;
}
.background {
    background-size: cover;
}